@font-face {
    font-family: IRANSans;
    src: url('/fonts/IRANSansFaNum.ttf');

}

html, body {
    font-family: IRANSans;
}

body {
  transition: background-color .3s;
}

.top-navigation {
  position:fixed;
  top:0;
  left: 0;
  width:100%;
  border-bottom: 1px solid lightgray;
  box-shadow: 0 0 3px #888888;
  padding:5px 15px;
  background-color:white;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: rgb(255,255,255);
  overflow-x: hidden;
  transition: 0.3s;
}

.overlay-content {
  position: relative;
  top: 5%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

#toggleNavigation {
  font-size:30px;
  cursor:pointer;
  color:#222;
}

.logo-title {
  color:#9b59b6;
  font-size:30px;
}

@media (min-width: 1195px) {
    .actions-lg { display: block; }
    .actions-sm { display: none; }
}
@media (max-width: 1194px) {
    .actions-lg { display: none; }
    .actions-sm { display: block; }
}

.page-header {
    border-bottom-color: #5d5e63;
}
th {
    background-color: #111111;
    border-bottom: 3px solid #ffcc00;
}

td {
    background-color: #181818;
}
.navbar-top-links>li>a:hover , #side-menu>li>a:hover {
    background-color: #333333;
}

.title {
    background-color:#9b59b6;
    color:white;
    padding:5px;
    text-align:center;
}
.circle {
    background-color:#74b9ff;
    text-align:center;
    border-radius:50%;
    width:25px;
    height:25px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    padding-top:2px;
    font-size: 16px;
    color:white;
}
.steps {
    color: #539BE4;
    font-size: 11px;
    margin-left:5px;
}
.horizontal-line {
    border:2px solid #539BE4;
    margin: 10px 0;
}
.image {
    width:90px;
    height:90px;
    background-color: #539BE4;
    margin-top:5px;
}
.product-title {
    color:#222;
    text-align:center;
    padding-top:0;
    width:100%;
    font-size:16px;
}
.p-text {
    color:#222;
    width: 100%;
    text-align:center;
    font-size:10px;
}
.mb-5 {
    margin-bottom: 5px;
}
.suggest-card-container {
    display: flex;
    flex-direction: row;
    margin:5px 0;
}
.suggest-card {
    border-radius:5px;
    background-color: #E5E2E2;
    color: #9b59b6;
    height:70px;
    /*margin:0 5px;*/
    /*flex:1;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.red-badge {
    font-size:20px;
    background-color: red;
    padding:5px 10px;
}
.custom-badge {
    font-size: 10px;
    background-color: white;
    border-radius:2px;
    text-align: center;
    padding: 0 5px;
}

.half-suggest-card {
    flex:1;
    display: flex;
    height:100%;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.hamsood-button-container {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    padding:10px 15px;
    text-align:center;
    /*border-top: 1px solid lightgray;
    box-shadow: 0 0 3px #888888;*/
    background-color: #eee;
    z-index:2;
}

#hamsood-btn {
    width:100%;
    padding:10px;
    border-radius:10px;
    background-color:#64498E;/*#9b59b6;*//*#FF6F00;*/
    color:white;
    border:none;
    /*margin-top:10px;*/
    visibility: visible;
}

.clock-container {
    flex:2;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.time-item {
    width:40px;
    height:40px;
    border-radius:5px;
    background-color:white;
    color:#222;
    font-size: 1.5em;
    text-align:center;
    padding-top:5px;
    margin:5px;
}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    /* width: 70%; */
    border: 1px solid #539BE4;
    border-radius:5px;
    text-align: center;
}

.icon {
    /*padding: 5px 10px;*/
    color: #222; /* #539BE4; */
    min-width: 50px;
    text-align: center;
    font-size:36px;
}

.input-field {
    /* width: 100%; */
    padding: 0 10px;
    color:#222;
    border:none;
    text-align:center;
    font-size:1em;
}

.dashed-button-container {
    margin-top:50px;
    text-align: center;
}

.dashed-button {
    border:1px dashed #31AC6B;
    border-radius:3px;
    padding: 10px 30px;
    color:#31AC6B;;
    background-color:white;
    font-size:22px;
    cursor:pointer;
    text-decoration: none;
}

.dashed-button:hover {
    color:white;
    background-color:#31AC6B;
    text-decoration: none;
}

.confirm-button {
    width:100%;
    background-color:#31AC6B;
    padding: 15px 0;
    border-radius:0;
    font-size:20px;
    color:white;
}

.dark-overlay {
  height: 100%;
  width: 100%;
  z-index: 4;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0,0,0,0.7);
}

.overlay-container {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 5;
    bottom: 0;
    right: 0;
    background-color: white;
    color:#222;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding:25px;
    overflow-y: scroll;
    transition: 0.5s;
}

.inactive {
    background-color:gray;
    color:white;
    cursor:not-allowed;
}

.active {
    background-color:#31AC6B;
    color:white;
    cursor:pointer;
}
