@font-face {
    font-family: IRANSans;
    src: url('/fonts/IRANSansFaNum.ttf');

}

html, body {
    font-family: IRANSans;
}

@media (min-width: 1195px) {
    .actions-lg { display: block; }
    .actions-sm { display: none; }
}
@media (max-width: 1194px) {
    .actions-lg { display: none; }
    .actions-sm { display: block; }
}

.page-header {
    border-bottom-color: #5d5e63;
}
th {
    background-color: #111111;
    border-bottom: 3px solid #ffcc00;
}

td {
    background-color: #181818;
}
.navbar-top-links>li>a:hover , #side-menu>li>a:hover {
    background-color: #333333;
}

.title {
    background-color:#9b59b6;
    color:white;
    padding:5px;
    text-align:center;
}
.circle {
    background-color:#74b9ff;
    text-align:center;
    border-radius:50%;
    width:25px;
    height:25px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    padding-top:2px;
    font-size: 16px;
    color:white;
}
.steps {
    color: #539BE4;
    font-size: 11px;
    margin-left:5px;
}
.horizontal-line {
    border:2px solid #539BE4;
    margin: 10px 0;
}
.image {
    width:90px;
    height:90px;
    background-color: #539BE4;
    margin-top:5px;
}
.product-title {
    color:#222;
    text-align:center;
    padding-top:0;
    width:100%;
    font-size:16px;
}
.p-text {
    color:#222;
    width: 100%;
    text-align:center;
    font-size:10px;
}
.mb-5 {
    margin-bottom: 5px;
}
.suggest-card-container {
    display: flex;
    flex-direction: row;
    margin:5px 0;
}
.suggest-card {
    border-radius:5px;
    background-color: #E5E2E2;
    color: #9b59b6;
    height:70px;
    /*margin:0 5px;*/
    /*flex:1;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.red-badge {
    font-size:20px;
    background-color: red;
    padding:5px 10px;
}
.custom-badge {
    font-size: 10px;
    background-color: white;
    border-radius:2px;
    text-align: center;
    padding: 0 5px;
}

.half-suggest-card {
    flex:1;
    display: flex;
    height:100%;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.hamsood-button-container {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    padding:10px 15px;
    text-align:center;
    border-top: 1px solid lightgray;
    box-shadow: 0 5px 5px 5px #888888;
    background-color: white;
    z-index:2;
}

#hamsood-btn {
    width:100%;
    padding:10px;
    border-radius:3px;
    background-color:#64498E;/*#9b59b6;*//*#FF6F00;*/
    color:white;
    border:none;
    /*margin-top:10px;*/
    visibility: visible;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 8px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

.time-item {
    width:30px;
    background-color:white;
    color:black;
    padding:5px;
    text-align:center;
    height:30px;
    margin:5px;
}
